p{
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

p.italic{
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: italic;
}

header {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: italic;    
    font-size: 30px;
}

img {
    width: 300px;
}

html {
    background-color:  #FFFFE8;
}

div {
    border-radius: 25px;
    border-color: rgb(200, 19, 19);
    border-width: 10px; 
    border-style: solid;   
    margin: auto;
    margin-bottom: 30px;
    width: 850px;
    padding: 30px;

    
}

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    margin: auto;
}

footer {
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 70px;
    text-align: center;
}

