body {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
  }
  
  @media (min-width: 640px) {
    body {
      background-color: #eaf6ff;
    }
  }
  
  h1 {
    font-size: 1.5rem;
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}

#fixed-size-grid-items aside {
    width: 170px;
    margin: 10px;
}

#fixed-size-grid-items li {
    font-size: 0.8rem;
}

#stretchable-grid-items li {
    width: 100%;
}
@media (min-width: 480px) {
    #stretchable-grid-items li {
     width: 50%;
   }
 }
 
 @media (min-width: 640px) {
    #stretchable-grid-items li {
     width: 25%;
   }
 }


#stretchable-grid-items aside {
    margin: 10px;
}

li {
    font-size: 0.8rem;
}

#stretchable-grid-items ul {
    
    margin: 1rem -10px 1rem -10px;
}

