html {
    background-color: #fffaf0;
}

header {
margin: 0;
}

h1 {
    color: #556b2f; 
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    padding-top: 3rem;
    padding-left: 2rem;
    margin: 0;
    height: auto;
}


    img {
        width: 30vw;
        float: right;
        margin: -50vw 8vw;
}

h2{
    color: #556b2f; 
    font-family: "megascope-variable", sans-serif;
    font-variation-settings: "wght" 700, "SCOP" 0;
    font-size: 45vw;
    text-align: center;
    margin: auto;
}

h3 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5rem;
    text-align: left;
}
footer{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: black;
    margin-top: 2rem;
}
a{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: black;
    margin-top: 2rem;
}
li.dir{
    margin-bottom: 1rem;
}
h3.dir {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}



h3.allergy {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1 rem;
}

p {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    text-align: center;
}

p.ingredients {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1;
    text-align: left;
    align-items: center;

}

ul {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.75rem;
    text-align: left;
    align-items: center;

}

ul.in {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-align: left;
    align-items: center;

}

li{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.1rem;
    text-align: left;
    align-items: center;
 
}

ul {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-align: center;
}

p.dir {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-align: left;
    align-items: center;
}
ol {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-align: left;
    align-items: center;
}

p.info{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.25rem;
    text-align: center;   
}
.row {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 800px) {
    .row {
      flex-direction: column; 
      align-items: center;
    align-content: center;
    }
   footer {
      align-content: center;
      text-align: center;
      }
  }
  
.column {
    width: 45%;
    padding-left: 5rem;
    padding-right: 5rem;
    border-color: #556b2f;
    border-width: 5px;
    border-radius: 1px;
    border-style: dashed;
    text-align: center;
  }